.calender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  /* border: 3px solid green; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}
.year {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  color: silver;
}
.month {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  margin-left: 9%;
  color: #6b9080;
  background-color: #eaf4f4;
}

/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.nav {
  display: flex;
  border-radius: 5px;
  background-color: #eaf3ec;
}
.nav-btn {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 35px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-today {
  width: 85px;
  /* border-left: 1px solid #6B9080; */
  /* border-right: 1px solid #6B9080; */
  background-color: #fff;
}
.days {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
  background-color: #eaf3ec;
  border-radius: 10px;
  height: 40px;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  font-weight: 500;
}
/* .day:hover {
  background-color: #CCE3DE;
  border-radius: 10px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.dates {
  display: flex;
  flex-flow: row wrap;
  /* height: 700px; */
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
}
.date {
  width: calc(100% / 7);
  height: 140px;
  padding: 10px;
  text-align: right;
  border-radius: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  cursor: pointer;
}
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}
.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}
