/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.calender-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  /* border: 3px solid green; */
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}
.year {
  font-size: 22px;
  font-weight: 600;
  font-style: italic;
  color: silver;
}
.month {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-weight: 500;
  margin-left: 9%;
  color: #6b9080;
  background-color: #eaf4f4;
}
.nav {
  display: flex;
  border-radius: 5px;
  background-color: #eaf3ec;
}
.nav-btn {
  width: 30px;
  height: 30px;
  border: none;
  font-size: 16px;
  line-height: 35px;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.go-today {
  width: 85px;
  background-color: #fff;
}
.days {
  display: flex;
  align-items: center;
  margin: 20px 0 10px;
  background-color: #eaf3ec;
  border-radius: 10px;
  height: 40px;
}
.day {
  width: calc(100% / 7);
  text-align: center;
  font-weight: 500;
}
.dates {
  display: flex;
  flex-flow: row wrap;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  background-color: #6b90806e;
}
.date {
  width: calc(100% / 7);
  height: calc(100vw / 7);
  max-height: 140px;
  border-radius: 10px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  justify-content: end;
  padding: 5px;
}
.date > img {
  border: 1px solid blue;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 달력 숫자 포인트 */
.date > div {
  background-color: #f6fff87e;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  /* position: absolute; */
}
.date:hover > div {
  background-color: #f6fff8;
}
.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #d13e3e;
}
.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396ee2;
}
