.freinds-wrap {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  margin: 20px 0px -10px 0px;
  /* overflow: auto; */
}

.friends {
  /* border: 1px solid pink; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: fit-content;
  gap: 10px;
  padding: 10px;
  overflow: auto;
}

@media (max-width: 1050px) {
  .friends > button {
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    /* border: 1px solid blue; */
  }
}
@media (min-width: 1050px) {
  .friends > button {
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
    /* border: 1px solid blue; */
  }
}

.friends > button > span {
  /* border: 1px solid pink; */
  font-size: 14px;
  width: 50px;
  overflow: hidden;
  word-break: keep-all;
}
