/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.brand-logo {
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 2px 3px #a4c3b2;
  font-style: italic;
  /* border: 1px solid blue; */
}
.brand-logo:hover {
  color: #a4c3b2;
  text-shadow: 2px 2px 3px #f6fff8;
}
.menu {
  color: #6b9080;
  text-shadow: 2px 2px 3px #eaf4f4;
}
.menu:hover {
  color: #fff;
  text-shadow: 2px 2px 3px #a4c3b2;
}
.brand-alert {
  display: flex;
  align-items: center;
}
.test {
  /* border: 1px solid red; */
  margin-top: -5px;
  padding: 0 10px 0 30px;
  font-size: 20px;
  color: rgb(252, 252, 252);
  cursor: pointer;
}
.test:hover {
  color: #a4c3b2;
}
