/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.detail-container {
  margin-top: 50px;
}

.detail-titlebox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.detail-titlebox > span > strong {
  margin-right: 10px;
}

img {
  width: 100%;
}

.detail-content {
  text-align: justify;
  padding: 0 5px;
  white-space: pre-line;
  word-break: break-all;
}

.detail-fix-del-btns {
  display: flex;
  justify-content: right;
}
.detail-fix-del-btns > button {
  margin-left: 10px;
}

.detail-modal {
  margin: 0px;
  padding: none;
}

.detail-comments-wrap {
  width: 100%;
}

.detail-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  margin-bottom: 10px;
  word-break: break-all;
}

.text-info {
  --bs-text-opacity: 1;
  color: #A4C3B2 !important;
}
.detail-img-spinner {
  display: flex;
  justify-content: center;
}
.spinner-border {
  --bs-spinner-width: 3rem;
  --bs-spinner-height: 3rem;
}
.spinner-grow {
  --bs-spinner-width: 5rem;
  --bs-spinner-height: 5rem;
}

.detail-comment-contents {
  width: 100%;
  /* border: 1px solid rebeccapurple; */
}

.detail-comment-contents > img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-right: 7px;
}

.detail-comment-contents > span:nth-child(2) {
  margin-right: 7px;
  font-weight: 500;
}

.detail-comment-time {
  font-size: small;
}

.detail-comment-btns {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.detail-comment-btns > button {
  width: 40px;
  height: 35px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
