.addfriend-friend-icon .input-group-text {
  /* background-color: white; */
  /* border: none; */
}
.addfriend-search-icon .input-group-text:hover {
  background-color: #cce3de;
  cursor: pointer;
}
.addfriend-title {
  font-size: 16.5px;
  font-weight: 500;
  margin-bottom: 5px;
  /* border: 1px solid red; */
}
.addfriend-list {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.addfriend-list > div {
  /* border: 1px solid green; */
  margin: 3px 0;
  display: flex;
  justify-content: end;
  /* flex-wrap: wrap; */
}
.addfriend-list > div > span {
  font-weight: 500;
  word-break: keep-all;
  /* border: 1px solid pink; */
}
.addfriend-list > div > Button {
  margin-left: 5px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: keep-all;
  flex-wrap: nowrap;
}
