.alert-list {
  /* display: flexbox;
  justify-content: center;
  gap: 5px; */
  /* flex-direction: column; */

  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.alert-list > div {
  /* border: 1px solid red; */
}
.alert-list > span:hover {
  text-decoration : underline wavy paleturquoise;
  /* text-decoration-style: wavy; */
}
.alert-delete-btn{
  /* width: 0.5em;
  height: 1em;
  background-color: red; */

}

.alert-list > div {
  /* border: 1px solid green; */
  justify-content: space-between;

  /* flex-wrap: wrap; */
}

