.detail-container {
  margin-top: 50px;
}

.detail-titlebox {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.detail-modal {
  width: 100vw;
}

.detail-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* white-space: pre-wrap; */
  word-break: break-word;
  /* overflow: scroll; */
  /* text-overflow: ellipsis; */
  text-align: justify;
}

.detail-comment-contents {
  width: 80%;
}

.detail-comment-time {
  font-size: small;
}
