.social {
  display: flex;
  justify-content: space-evenly;
}

.social > button {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: none;
  background: #cce3de;
}

.social > button:hover {
  /* background: #f6fff8; */
  background: #a4c3b2;
  color: #fff;
}

.change-login {
  cursor: pointer;
  font-weight: 500;
  color: #6b9080;
}
