/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.wrap {
  display: flex;
  margin: 1%;
  /* border: 1px solid red; */
  /* height: 90vh; */
}
.wrap2 {
  margin: 1.5%;
  /* border: 1px solid red; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar {
  /* border: 3px solid pink; */
  max-width: 1000px;
  margin: 0 auto;
}
.img-card {
  border-radius: 5px;
  cursor: pointer;
}
.welcome {
  width: 100vw;
  height: 94vh;
  position: fixed;
  background-image: url(../../../public/images/blob-haikei.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome > p {
  text-align: center;
  text-shadow: 4px 4px 3px #cce3de;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 44px;
  font-weight: 600;
  font-style: italic;
  color: #a4c3b2;
  margin: 400px auto;
  padding: 0 20px;
}
