.wrap {
  display: flex;
  margin: 1%;
  /* border: 1px solid red; */
}
.calendar {
  /* border: 3px solid pink; */
  max-width: 1000px;
  margin: 0 auto;
}
.img-card {
  border-radius: 5px;
  cursor: pointer;
}
