.not-found {
  margin: 30px;
  height: 500px;
  border: 1px solid #6b9080;
  border-radius: 10px;
  display: flex;
  justify-content: center;
}
.not-found > h2 {
  display: flex;
  align-items: center;
}