.write-wrap {
    width: 80%;
    padding: 3%;
    height: 100vh;
    border-radius: 10px;
}

.write-preview-wrap {
    display: flex;
    align-items: center;
    overflow-x: auto;
}

.write-preview-image {
    /* background: no-repeat center 100%;
background-size: cover;
width: 20%; */
    width: 14vw;
    height: 14vw;
    object-fit: cover;
    margin: 3px;
    /* animation: vibration 0.1s infinite; */
}

@keyframes vibration {
    from {
        transform: rotate(1.2deg);
    }

    to {
        transform: rotate(-1.2deg);
    }
}

.write-preview-btn {
    z-index: 30;
    position: relative;
    width: 3vw;
    height: 3vw;
    left: -3vw;
    top: -5vw;
    margin: 0px;

}

.write-preview-btn> :nth-child(1):hover {
    color: red;
}

.write-content {
    width: 100%;
    height: 40vh;
    word-break: break-word;
    padding: .375rem .75rem;
    resize: none;
    /* border-radius: 5px; */
    /* border: 1px solid #ced4da; */
    /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.write-content:focus {
    /* outline: 2px solid #9EC3E6;
 border-color: #86b7fe;
 box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%); */
}