/* 색상표 */
/* #6B9080, #A4C3B2, #CCE3DE, #EAF4F4, #F6FFF8 */

.write-wrap {
  max-width: 700px;
  padding: 2.5%;
  border-radius: 10px;
  background-color: rgb(253, 253, 253);
  margin: 30px auto;
}

.write-preview-wrap {
  display: flex;
  align-items: center;
  overflow-x: auto;
}

.write-preview-image {
  /* background: no-repeat center 100%; */
  /* background-size: cover; */
  width: 150px;
  height: 150px;
  object-fit: cover;
  /* margin: 3px; */
  /* animation: vibration 0.1s infinite; */
}

@keyframes vibration {
  from {
    transform: rotate(1.2deg);
  }
  to {
    transform: rotate(-1.2deg);
  }
}

.write-preview-btn {
  z-index: 30;
  position: relative;
  width: 10px;
  height: 10px;
  left: -30px;
  top: -60px;
}

.write-preview-btn > :nth-child(1):hover {
  color: red;
}

.write-file-alert {
 font-size: smaller;
 color: gray;
}

.write-content {
  width: 100%;
  height: 395px;
  word-break: break-word;
  padding: 0.5rem 0.75rem;
  resize: none;
}

.submitBtn {
  width: 85px;
  margin-left: 10px;
}

.subtitle {
  font-weight: 500;
  font-size: 17px;
}
