# This is a basic workflow to help you get started with Actions

name: Deploy

on:
  push:
    branches: [ dev ] 
 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - name: checkout release
      uses: actions/checkout@v3

    # Runs a single command using the runners shell 
    - name: Clean temp directory
      run: |
        rm -rf *
        cp -r $GITHUB_WORKSPACE . 
      
    - name: archive drcloud 
      run: tar cvfz ./drcloud.tar.gz *
       
    - name: AWS configure credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-2
        
    - name: upload to S3
      run: aws s3 cp --region ap-northeast-2 ./drcloud.tar.gz s3://shoesbox-bucket/archive/
      
    - name: deploy with AWS codeDeploy
      run: aws deploy create-deployment
        --application-name deploy-app
        --deployment-config-name CodeDeployDefault.AllAtOnce
        --deployment-group-name deploy-group
        --s3-location bucket=shoesbox-bucket,bundleType=tgz,key=archive/drcloud.tar.gz
